### Vagrant ###
**/.vagrant/**
**/Vagrantfile
### Terraform ###
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# Crash log files
crash.log
#tfvars
.tfvars
terraform.tfvars
# Ignore override files as they are usually used to override resources
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# lock.hcl
**lock.hcl
### keys ###
**/keys/*
### Ansible ###
ansible/test.yml
ansible/clean.yml
### Kubernetes ###
*/kubectl/config
### Jenkins ###
jenkins/*